*{
	margin: 0;
	padding: 0;
}
#ng-shield{	/* */ }
#ng-shield-outer {
  position: relative;
  top:50px;
  width: 245px;
  border-width: 250px 60px 0;
  border-style: solid;
  border-color: #B3B3B3 transparent;
}
#ng-shield-outer::before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: -300px;
  left: -60px;
  border-width: 0 182px 50px;
  border-style: solid;
  border-color: transparent transparent #B3B3B3;
}

#ng-shield-outer::after {
	content: "";
	position: absolute;
	bottom: -60px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 123px solid transparent;
	border-right: 123px solid transparent;
	border-top: 60px solid #B3B3B3;
}
#ng-shield-inner {
	top: 60px;
	left: 20px;
  position: absolute;
  width: 215px;
  border-width: 230px 55px 0;
  border-style: solid;
  border-color: #C4473A transparent;
}
#ng-shield-inner::before{
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: -272px;
  left: -55px;
  border-width: 0 162px 42px;
  border-style: solid;
  border-color: transparent transparent #C4473A;
}
#ng-shield-inner::after{
	content: "";
	position: absolute;
	bottom: -50px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 108px solid transparent;
	border-right: 108px solid transparent;
	border-top: 50px solid #C4473A;
}
#ng-shield-inner-shadow {
	top: 60px;
	left: 183px;
  position: absolute;
  width: 108px;
  border-width: 230px 0px 0;
	border-right: 55px solid transparent;
  border-style: solid;
  border-color: #9E3D34 transparent;
	opacity: 0.5;
}
#ng-shield-inner-shadow::before{
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: -272px;
  border-width: 0 165px 42px;
	border-left: 0px solid transparent;
  border-style: solid;
  border-color: transparent transparent #9E3D34;
}
#ng-shield-inner-shadow::after{
	content: "";
	position: absolute;
	bottom: -50px;
	left: 0;
	width: 0;
	height: 0;
	border-right: 109px solid transparent;
	border-top: 50px solid #9E3D34;
}
#ng-shield-font{
	color:#FFF;
	font: 410px 'Inconsolata';
	text-transform: uppercase;
	position: absolute;
	top:-65px;
	left:85px;
}
